img(src="img/logo.png", alt="").logo
form.login-form
    .login-form__item
        label(for="username").login-form__label 
            .icon: i.fas.fa-user
            | Usuario
        input(type="text" name="username" id="username").login-form__input
    .login-form__item
        label(for="password").login-form__label
            .icon: i.fas.fa-lock
            | Contraseña
        input(type="password" name="password" id="password").login-form__input
    input(type="submit" value="Ingresar").login-form__submit.button.cta
.reset-password
    h3 ¿Ha olvidado su contraseña? 
        a(href="#") Recuperar