ul.options
    li.options__item
        .icon: i.fas.fa-book
        span Mis cursos
    li.options__item
        .icon: i.fas.fa-comment
        span Mis preguntas
    li.options__item
        .icon: i.fas.fa-users
        span Comunidad
    li.options__item
        .icon: i.fas.fa-user
        span Mi perfil