.main-nav
    header.main-nav__header
        img(src="https://scontent.flim18-3.fna.fbcdn.net/v/t1.0-1/c0.0.160.160a/p160x160/86221841_1554458701375008_4664869765230100480_n.jpg?_nc_cat=108&_nc_sid=dbb9e7&_nc_oc=AQmWCp6NipLLVe6rqcR0YfElTlDXLDvLrnBIuKlu5bh4pQjuUw8DDV_Afz9W53AyZxQ&_nc_ht=scontent.flim18-3.fna&oh=59f0ff6baf0ff8954278ff68f9e56f15&oe=5EE45290", alt="").img
        .username
            h3 Erick Rivas
            p Alumno
    include menu