.card{
    width: 90%;
    height: 30vh;
    margin: .5em auto;
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 13px;
    &__info{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 20%;
        background: color(azul-oscuro);
        width: 100%; 
        opacity: .8;
    }
    &__percentage{
        justify-self: flex-start;
    }
    &__progress{
        width: 20%;
        position: relative;
        background: #000;
        border: 1px solid white;
        height: 15px;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 70%;
            height: 100%;
            background: linear-gradient(
                120deg,
                color(rojo) 70%,
                transparent 70%
            );
        }
    }
    &__teacher{
        font-style: italic;
        justify-self: flex-end;
    }
}