.banner{
    width: 100%;
    height: 25vh;
    display: flex;
    color: white;
    align-items: flex-end;
    background:url(https://i.picsum.photos/id/1/700/500.jpg) center / cover no-repeat;
    &-footer{
        padding-top: .5em;
        padding-bottom: .5em;
        opacity: .8;
        width: 100%;
        background: color(azul-oscuro);
        text-align: center;
        p{
            margin-left: 4.5em;
        }
    }
}
.teacher-profile{
    display: flex;
    align-items: center;
    margin-top: -4em;
    margin-left: .5em;
    .button{
        align-self: flex-end;
        margin-bottom: .5em;
        margin-left: 1em;
    }
}
.teacher{
    width: 30%;
    z-index: 100;
    border-radius: 50%;
}

.playlist{
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 1.5em;
    &__content{
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
        .content{
            color: grey;
            border-bottom: 1px solid gray;
            padding-bottom: .8em;
            font-size: .8em;
            margin-bottom: 1em;
            .icon{
                opacity: 1;
                color: darken(color(azul-claro),15);
            }
        }
        
    }
}