.logo{
    width: em(310px / 2);
    margin: auto;
}
.login-form{
    text-align: center;
    width: em(560px / 2);
    margin: 2em auto;
    &__item{
        position: relative;
        margin-bottom: 1em;
    }
    &__input{
        display: block;
        width: 100%;
        height: 1.5rem;
        line-height: 1.5rem;
    }
    &__label{
        display: block;
        line-height: 1.5rem;
        position: absolute;
        padding-left: 1em;
        font-size: .9em;
    }
}
.reset-password{
    text-align: center;
    a{
        color: color(rojo);
    }
    color: #fff;
    font-size: .85em;
}

.login-page{
    display: flex;
    background: url(https://i.picsum.photos/id/444/800/800.jpg) center / cover no-repeat;
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height:  100%;
        top: 0;
        left: 0;
        position: absolute;
        background:color(azul-oscuro);
        opacity: .95;
        z-index: -100;
    }

}
.main-home{
    margin: auto;
}
.icon{
    display: inline-block;
    margin-right: 1em;
    opacity: .5;
    color:color(azul-oscuro);
    opacity: .5;
}