.options{
    width: 80%;
    height: 30%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    &__item{
        margin-bottom: 1em;
        padding-bottom: .5em;
        border-bottom: 1px solid white;
        
    }
    .icon{
        color: white;
    }
}