.img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 2px solid white;
}
.main-nav__header{
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    background: darken(color(azul-medio),19);
    opacity: .8;
    padding-top: 1em;
    padding-bottom: 1em;
    .username{
        margin-left: 1em;
        h3{
            font-size: 1.6em;
        }
        p{
            font-size: 1.2em;
        }
    }
}