:root{
    --nomal:400;
    --light:300;
    --font-size:#{em(16px)};
    --h3-size: calc(var(--font-size) * 1.15);
    --h2-size: calc(var(--font-size) * 1.35);
    --h1-size: calc(var(--font-size) * 1.7);    
}

body{
    font-size: var(--font-size);
}

$colors : (
    azul-base : #00B1F3,
    azul-oscuro : #03151F,
    azul-medio : #006BAB,
    azul-claro : #29DAFF,
    rojo : #FF3532,
    rojo-claro : #FF4946,
    grid-oscuro : #192428,
    grid-claro : #CDCDCD,
    success : #00CB30,
);
@function color($color){
    @return map-get($colors, $color);
}