*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,li,a{
    text-decoration: none;
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
h1{
    font-size: var(--h1-size);
}
h2{
    font-size: var(--h2-size);
}
h3{
    font-size: var(--h3-size);
}

h1,
h2,
h3{
    line-height: 1.3;
    font-weight: var(--light);
    color: color(girs-oscuro);
}

body{
    min-height: 100vh;
}