mixin card(image,percentage,professor)
    .card(style=`background: url(${image}) center / cover no-repeat ;`)
        .card__info
            .card__progress
            .card__percentage=`${percentage} completado`
            .card__teacher=`Profesor : ${professor}`