mixin playlist()
    .playlist
        .playlist__title
            h2 Contenido Del curso
        .playlist__content
            - for (let i=0;i<=8;i++)
                .content #[span.icon: i.fas.fa-play]Lorem ipsum dolor sit amet consectetur adipisicing