extends ../template/template
append config
    - currentPage = "curso-page"
    - title = "Sass desde cero"
block header
    include ../blocks/header
    +header(title)
    .banner
        .banner-footer 
            p Alexys lozada #[span Profesor]
    .teacher-profile
        img(src="https://avatars2.githubusercontent.com/u/2720556?s=400&v=4", alt="").teacher
        button.button.cta Acesoria
    include ../mixins/playlist
    +playlist()