extends ../template/template
include ../mixins/card
append config
    -currentPage = "course-page";
    -title = "Mis cursos";
block header
    include ../blocks/header
    +header(title)
block nav
    include ../blocks/nav
block main
    .main-course
        +card('https://i.picsum.photos/id/1/700/500.jpg','50%','Alexys lozada')
        +card('https://i.picsum.photos/id/2/700/500.jpg','50%','Alexys lozada')
        +card('https://i.picsum.photos/id/3/700/500.jpg','50%','Alexys lozada')