.main-header{
    background:color(azul-medio);
    color: #fff;
    display: flex;
    padding: 0 1em;
    height: em(50px);
    align-items: center;
}
.icon-menu{
    display: flex;
    align-items: center;
    margin-right: 1em;
    cursor: pointer;
}
.main-nav{
    position: absolute;
    top: em(50px);
    background: color(azul-oscuro);
    opacity: .985;
    width: 90%;
    height: 100%;
    left: 0;
    z-index: 100;
}
