block config
    include ../config/config
<!DOCTYPE html>
html(lang="en")
    head
        title= `${title}`
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js")
    body(class=currentPage)
        block header
        block nav
        block main